<div>
    <h1>Agregar Item</h1>
    
        <div class="formContainer">
            <div class="input-group mb-3">
                <span class="input-group-text spanContainer1">Nombre</span>
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Name"
                    aria-describedby="basic-addon1" name="title" id="title">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text spanContainer2">Precio </span>
                <input type="text" class="form-control" placeholder="Precio" aria-label="Precio"
                    aria-describedby="basic-addon1" name="price" id="price">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text spanContainer">Thumbnail</span>
                <input type="text" class="form-control" placeholder="Thumbnail" aria-label="Imagen"
                    aria-describedby="basic-addon1" name="thumbnail" id="thumbnail">
            </div>
            <div>
                <button class="btn btn-dark btnCustom" id="send">Crear</button>
            </div>
        </div>
    
</div>