<div class="formContainer">
    <div class="input-group mb-3">
        <form action="api/usuario/logout/" method="get">
        <span class="input-group-text spanContainer1">Bienvenido {{usuario}}</span>
        <input type="submit" class="btn btn-dark btnCustom" value="Log-Out">
        </form>
    </div>
</div>