<div class="formContainer">
    <form action="/usuario/singup/" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text spanContainer1">Registro</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text spanContainer1">Usuario</span>
            <input type="text" class="form-control" id="user" name="user">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text spanContainer1">Contraseña</span>
            <input type="text" class="form-control" id="password" name="password">
        </div>
        <div class="input-group mb-3">
            <input type="submit" class="btn btn-dark btnCustom" value="Sing-Up">
        </div>

    </form>
</div>


{{!--
<script>
    async function handleFormSubmit(event) {
        event.preventDefault();
        console.log('holi')
        const form = event.currentTarget;
        console.log(form)
        const url = 'localhost:8080/productos/login';

        try {
            const formData = new FormData(form);
            console.log(formData)
            postFormDataAsJson({ url, formData });

        } catch (error) {
            console.error(error);
        }
    }
    async function postFormDataAsJson({ url, formData }) {
        const plainFormData = Object.fromEntries(formData.entries());
        const formDataJsonString = JSON.stringify(plainFormData);

        const fetchOptions = {
            method: "POST",
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json",
            },
            redirect: "follow",
            body: formDataJsonString,
        };

        const response = await fetch(url, fetchOptions);

        if (!response.ok) {
            console.log("mal")
            const errorMessage = await response.text();
            throw new Error(errorMessage);
        }
        console.log("bien")
        if (response.redirected) {
            window.location.href = response.url;
        }
    }
</script> --}}