
<table class="table-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Img</th>
    </tr>
    {{#each arrPro}}
    <tr>
        <th scope="row">{{this.id}}</th>
        <th>{{this.title}}</th>
        <th>{{this.price}}</th>
        <th>{{this.thumbnail}}</th>
    </tr>
    {{/each}}
</table>
