.formContainer{
    margin-top: 5vh;
    margin-left: 5vh;
    width: 80vh;
}
.spanContainer{
    margin-right: 2vh;
}
.spanContainer2{
    margin-right: 2vh;
    padding-right: 6.5vh;
}
.spanContainer1{
    margin-right: 2vh;
    padding-right: 4.5vh;
}
.btnCustom{
    margin-left: 10vh;
    width: 60vh;
}